html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

table {
	height: 100%;
	width: 100%;
	margin: 0px;
}

table, tr, td {
	padding: 0px;
	border: 1px solid black;
}

tr {
	height: 33%;
	width: 100%;
}

td {
	height: 33%;
	width: 33%;
}

button, button._ {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	cursor: crosshair;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

button#btnPlayAgain {
	background-color: #c7c0c6;
	width: 33vw;
	height: 10vh;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 12px;
	margin: 4px;
	font-size: 4vh;
}

button.X {
	background-color: #e40002;
	cursor: not-allowed;
	pointer-events: none;
}

button.O {
	background-color: #969696;
	cursor: not-allowed;
	pointer-events: none;
}

div.X {
	color: white;
	visibility: visible;
	height: 100%;
	width: 100%;
	font-size: 25vh;
	cursor: not-allowed;
}

div.O {
	color: white;
	visibility: visible;
	height: 100%;
	width: 100%;
	font-size: 25vh;
	cursor: not-allowed;
}

div._ {
	visibility: hidden;
	display: block;
	height: 100%;
	width: 100%;
}

div#playAgain {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.75);
	border: 2px solid black;
	visibility: hidden;
}

div#playAgainInner {
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 33vh;
	text-align: center;
	width: 100vw;
	height: 33vh;
}

div#playAgainInnerText {
	border: 0.5vw solid black;
	padding: 0.5vw;
	margin: 0.5vw;
	width: 31vw;
	background-color: red;
	position: relative;
	left: 33vw;
	font-family: Baghdad;
}